@font-face {
font-family: "PT Sans";
src: url("/font/PT Sans.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
body{
  background: #161617;
  font-family: "PT Sans";
  overflow-x: hidden;
}
a:hover{text-decoration: none;}
*{
  scroll-behavior: smooth;
  list-style: none;
}
i{
  font-family: fontawesome!important;
  font-style: normal;
}
.header{
  position: relative;
  top: 0;
}
.header ul {
  display: flex;
  position: absolute;
  top: 2.3%;
  font-size: 16px;
  z-index: 9;
  left: 8%;
}
.header h1 {
    position: absolute;
    top: 6.5%;
    text-transform: uppercase;
    font-size: 20px;
    left: -4%;
    font-weight: bolder;
    color: #0178c1;
}
.header li {
    color: #ffffff;
    padding: 26px;
}
.header i {
    padding: 6px;
}
.header button {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    padding: 10px;
    position: absolute;
    top: 3%;
    right: -25%;
}
.header img {
    position: relative;
    right: -38%;
    top: 29%;
    width: 75%;
    margin-top: 6%
}
.left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    top: 31%;
    left: -5%;
}
.left p {
    font-style: normal;
    font-size: 19px;
    color: #9c9c9c;
    position: absolute;
    top: 39%;
    left: -5%;
    line-height: 23px;
    width: 400px;
}
.left button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: -5%;
    color: #ffffff;
}
.left i {
    padding: 6px;
}
.programs b {
    position: absolute;
    text-align: center;
    color: #ffffff;
    left:32%;
    font-size: 20px;
    margin-top: 5%
}
.programs button i{
  padding: 5px;
}
.programs button {
    position: absolute;
    margin-top: 29%;
    left: -16%;
    font-size: 21px;
    border: 1px solid #ffffff;;
    box-sizing: border-box;
    border-radius: 3px;
    background: transparent;
    padding: 10px;
    color: #ffffff;
}
.programs h1 {
  position: absolute;
  left: -16%;
  margin-top: 9%;
  color: #ffffff;
  font-size: 180%
}
.programs p {
    position: absolute;
    margin-top: 15%;
    left: -16%;
    font-size: 20px;
    width: 500px;
    line-height: 24px;
    color: #9c9c9c;
}
.programs img {
    position: absolute;
    left: 470px;
    top: 105px;
    width: 55%;
}
.programs {
    position: absolute;
    animation: flipInX 3s;
    left: 16%;
}
.pro {
    position: relative;
    width: 100%;
    height: 510px;
    background: linear-gradient(180deg, #161617 0%, #0178c1 0.01%, #5401BD 100%);
    top: 500px;
    max-width: 100%;
}
.pro b {
    position: absolute;
    text-align: center;
    left: 46%;
    font-size: 20px;
    top: 6%;
    color: #fff;
}
.pro button i{
  padding: 5px;
}
.pro button {
    position: absolute;
    top: 48%;
    left: 51%;
    font-size: 21px;
    border: solid 1px #fff;
    color: #fff;
    background: transparent;
    padding: 10px;
    border-radius: 3px;
}
.pro h1 {
    position: relative;
    left: 51%;
    top: 18%;
    color: #fff;
    font-size: 180%;
    width: 748px;
}
.pro p {
    position: relative;
    top: 20%;
    left: 51%;
    font-size: 25px;
    width: 600px;
    line-height: 24px;
    color: #fff;
    font-size: 140%;
}
.pro img {
    position: absolute;
    left: 4%;
    top: 100px;
    width: 45%;
    max-width: 1000px;
}
.left {
    animation: bounceInDown 3s;
}
button {
    animation: fadeInDown 2s;
}